{% extends "profile_base.html" %}
{% block title %} Edit Profile {% endblock %}

{% block content %}
  
<br>
  <div class="row pl-3">
    <div class="Sform col-sm-10 col-lg-8 mt-0">
      <h1>Profile</h1>
      <p>Fill out the details carefully.</p>
      <form class="form-horizontal" action="/action_page.php">
      {{ edit_form.hidden_tag() }}
        <div class="form-group-1">
          {{ edit_form.name.label(class="form-control-label") }}
          {{ edit_form.name(class="form-control col-sm-10") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.email.label(class="form-control-label") }}
          {{ edit_form.email(class="form-control col-sm-10") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.addressline1.label(class="form-control-label") }}
          {{ edit_form.addressline1(class="form-control col-sm-10") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.addressline2.label(class="form-control-label") }}
          {{ edit_form.addressline2(class="form-control col-sm-10") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.mobileno.label(class="form-control-label") }}
          {{ edit_form.mobileno(class="form-control col-sm-10") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.profession.label(class="form-control-label") }}
          {{ edit_form.profession(class="form-control col-sm-10") }}
          </div>
        
        <div class="form-group-1">
            {{ edit_form.dateofbirth.label(class="form-control-label") }}
          {{ edit_form.dateofbirth(class="form-control col-sm-10") }}
        </div>


        <div class="form-group-1">
          {{ edit_form.gender.label(class="form-control-label") }}
          <br>
          {% for subfield in edit_form.gender %}
          <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            <br>
          </tr>
          {% endfor %}
            
        </div>

        <!-- <div class="text-center"> -->
        <div class="form-group">
          {{ edit_form.submit(class="btn btn-primary mt-2") }}
        </div>
       </div>
      </form>
    </div>
  </div>
</div>


 {% endblock %}