{% extends "base.html" %}
{% block title %} Sell Books {% endblock %}
{% block body %}
<br>
    <div class="container">
      <div class="row">
        <div class="Sform col-sm-10 col-md-10 col-lg-8 m-auto">
          <h1>Profile</h1>
          <p>Fill out the details carefully.</p>
          <form class="form-horizontal" action="/action_page.php">
            <div class="form-group-1">
              <label class="control-label col-xs-2" for="Name"
                >Name:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="Name"
                  required
                  placeholder="Enter Name"
                  name="Name"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="email"
                >Email ID:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  required
                  placeholder="Enter Email ID"
                  name="email"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label for="address1">Address 1:</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="address1"
                  placeholder="Enter Address 1"
                  name="address1"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="address2"
                >Address 2:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="address2"
                  placeholder="Enter address 2"
                  name="address2"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="mobileno"
                >Mobile No:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="mobileno"
                  required
                  placeholder="Enter mobile number"
                  name="mobileno"
                />
              </div>
            </div>

            <div class="form-group-1">
                <label class="control-label col-xs-2" for="profession"
                  >Profession:</label
                >
                <div class="col-sm-10">
                  <input
                    type="number"
                    min="0"
                    max="10000"
                    class="form-control"
                    id="profession"
                    required
                    placeholder="Enter profession"
                    name="profession"
                  />
                </div>
              </div>
            
              <div class="form-group-1">
                <label class="control-label col-xs-2" for="dateofbirth"
                  >Date of Birth:</label
                >
                <div class="col-sm-10">
                  <input
                    type="date"
                    min="0"
                    max="10000"
                    class="form-control"
                    id="dateofbirth"
                    required
                    placeholder="Enter date of birth"
                    name="dateofbirth"
                  />
                </div>
              </div>

              <div class="form-group-1">
                <label class="control-label col-xs-2" for="gender"
                  >Gender:</label
                >

              <div class="custom-control custom-radio">
                <input type="radio" id="male" name="genderRadio" class="custom-control-input">
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="female" name="genderRadio" class="custom-control-input">
                <label class="custom-control-label" for="female">Female</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="other" name="genderRadio" class="custom-control-input">
                <label class="custom-control-label" for="other">Other</label>
              </div>

            </div>
           <div class="text-center">
            <button type="submit" class="btn btn-success m-3 ">
              Submit
            </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% endblock %}