{% extends "profile_base.html" %}
{% block title %} Edit Profile {% endblock %}

{% block content %}
  
<br>
  <div class="row pl-3">
    <div class="Sform col-sm-10 col-lg-8 mt-0">
      <h1>Profile</h1>
      <p>Fill out the details carefully.</p>
      <form class="form-horizontal" action="/action_page.php">
      {{ edit_form.hidden_tag() }}
        <div class="form-group-1">
          {{ edit_form.name.label(class="form-control-label") }}
          {{ edit_form.name(class="form-control text-dark") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.email.label(class="form-control-label") }}
          {{ edit_form.email(class="form-control text-dark") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.addressline1.label(class="form-control-label") }}
          {{ edit_form.addressline1(class="form-control text-dark", placeholder="Flat, House No., Building") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.addressline2.label(class="form-control-label") }}
          {{ edit_form.addressline2(class="form-control text-dark", placeholder="Area, Colony, Street, City, State") }}
        </div>

        <div class="form-group-1">
          {{ edit_form.mobileno.label(class="form-control-label") }}
          {{ edit_form.mobileno(class="form-control text-dark", placeholder="10-digit mobile no.") }}
        </div>

        <div class="form-group-1">
            {{ edit_form.dateofbirth.label(class="form-control-label") }}
          {{ edit_form.dateofbirth(class="form-control text-dark") }}
        </div>


        <!-- <div class="text-center"> -->
        <div class="form-group">
          {{ edit_form.submit(class="btn theme-bg rounded-pill mt-3") }}
        </div>
       </div>
      </form>
    </div>
  </div>
</div>


 {% endblock %}