{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
  <br>
      {% with messages=get_flashed_messages(with_categories=true)%}
        {% if messages %}
          {% for category,message in messages %}
          <div class="alert alert-{{ category }}  fade show"  id="successMessage" role="alert">
            <span>{{message}}</span>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';",5000);
      </script>
</div>


<div class="container">
  <div class="row my-3">
    <div class="col-lg-3 col-md-4 border-right border-dark" style="height:80vh">
      <h2 class="text-center">Branch<h2> 
             <a href="#" class="btn btn-info btn-lg btn-block">Computer </a>
             <a href="#" class="btn btn-info btn-lg btn-block">Information Technology </a>
             <a href="#" class="btn btn-info btn-lg btn-block">ENTC </a>
             <a href="#" class="btn btn-info btn-lg btn-block">Mechanical </a>
             <a href="#" class="btn btn-info btn-lg btn-block">Civil </a>
             <a href="#" class="btn btn-info btn-lg btn-block">Electrical </a>
    </div>
    

    <div class="col-lg-9 col-md-8">
      <div class="row pl-2">
        {% for book in books %}
        <div class="card m-2" style="width: 15rem;">
          <img class="card-img-top" src="https://source.unsplash.com/1600x900/?book" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ book['book_name'] }}</h5>
            <p class="card-text">
              {{ book['book_author'] }} <br>
              {{ book['publication'] }}
            </p>
            <a href="/view/{{ book['book_id'] }}" class="btn btn-primary">VIEW</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

