<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- CSS Personalized -->
  <link rel="stylesheet" href="../static/styles/styles.css">

  <title>Document</title>
</head>
<body >
  <header>
    <div id="header">
        <!-- Container starts -->
          <nav class="navbar navbar-dark bg-dark  navbar-expand-xl pr-1">
            <h1 class="pl-0 name col-8 col-xl-4 text-wrap text-white">BOOKMART</h1>
            <ul class="navbar-nav pr-5 ml-auto">
            <li class="nav-item">
              <a class="nav-link pl-3"  style="font-size:large;"href="/admin_login">Admin Login</a>
            </li>  
          </ul>
          </nav>
    </div>
  </header>            
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="display-4 m-100 text-dark" > 
           Welcome to BOOKMART, an online store for used books.
        </p>
        <p class="display-4">
          Come be a part of our community.
        </p>
      </div>
        <div class="tabs col-12 col-md-4 m-100 p-0">
            <div class="tab-header">
              <div class="active">Signup</div>
              <div>Login</div>
            </div>
            <div class="tab-content">
              <div class="tab-body p-3 active text-dark">
                <form method="POST" action="/new_user">
                  <div class="form-group">
                      <label for="n_name">Name</label>
                      <input type="text" class="form-control" id="n_name" name="n_name">
                    </div>
                  <div class="form-group">
                    <label for="n_email">Email address</label>
                    <input type="email" class="form-control" id="n_email" name="n_email">
                  </div>
                  <div class="form-group">
                    <label for="n_password">Password</label>
                    <input type="password" class="form-control" id="n_password" name="n_password">
                  </div>
                  <input type="submit" name="signup" id="" class="btn btn-primary w-100 mt-2" value="SIGNUP!">
                </form>
              </div>
              <div class="tab-body p-3 text-dark">
                <form method="POST" action="/login_validation">
                  <div class="form-group">
                    <label for="Email">Email address</label>
                    <input type="email" class="form-control" id="Email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" class="form-control" id="Password" name="password">
                  </div>
                  <input type="submit" name="login" id="" class="btn btn-primary w-100 mt-2" value="LOGIN!">
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script>
  let tabPanes=document.getElementsByClassName("tab-header")[0].getElementsByTagName("div");
  
  for(let i=0; i< tabPanes.length; i++){
    tabPanes[i].addEventListener("click",function(){
      document.getElementsByClassName("tab-header")[0].getElementsByClassName("active")[0].classList.remove("active");
      tabPanes[i].classList.add("active");
  
      document.getElementsByClassName("tab-content")[0].getElementsByClassName("active")[0].classList.remove("active");
  
      document.getElementsByClassName("tab-content")[0].getElementsByClassName("tab-body")[i].classList.add("active");
    });
  }
  </script>
</body>
</html>
