{% extends "base.html" %}
{% block body %}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 border-right border-dark" style="height:80vh">
            <div class="text-center">
                <img src="{{ url_for('static', filename='images/emptyprofile.jpg') }}" class="img-fluid rounded-circle my-2">
                <p><b>{{ user['name'] }}</b></p>
                <p>{{ user['email'] }}</p>
                <hr>
                <a class="btn category-btns1 rounded-pill m-2" href="/bought_books">Bought Books</a>
                <br>
                <a class="btn category-btns1 rounded-pill m-2" href="/sold_books">Sold Books</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}