{% extends "profile_base.html" %}
{% block title %} My Profile {% endblock %}

{% block content %}
<div>
   <div class="col-12 text-right p-0"> 
         <div class="btn theme-bg p-1 mb-1 mr-3"><a class="text-dark text-decoration-none" href="/edit_profile">
         {% if user.profile_completed %}
            Edit Profile
         {% else %}
            Complete your profile
         {% endif %}
         </a></div>
   </div>
   <div class="border border-dark p-2 mt-1 mx-3">

      <table class="table">
         <tbody>
           <tr style="border-top: hidden;">
             <th scope="row">Name</th>
             <td>{{ user.name }}</td>
           </tr>
           <tr>
            <th scope="row">Email</th>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <th>Date of Birth:</th>
            {% if user.dob %}
               <td>{{ user.dob }}</td>
            {% else %}
               <td>--</td>
            {% endif %}
          <tr>
            <th scope="row">Mobile No.</th>
            {% if user.mobile_no%}
               <td>{{ user.mobile_no }}</td>
            {% else %}
               <td>--</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Address line 1</th>
            {% if user.addr1 %}
               <td>{{ user.addr1 }}</td>
            {% else %}
               <td>--</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Address line 2</th>
            {% if user.addr2 %}
               <td>{{ user.addr2 }}</td>
            {% else %}
               <td>--</td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Pincode</th>
            {% if user.pin_code %}
               <td>{{ user.pin_code }}</td>
            {% else %}
               <td>--</td>
            {% endif %}
          </tr>
         </tbody>
       </table>
   </div>
   <form action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group-1 ml-3">
         <small>
            <b>{{ form.picture.label(class="form-control-label") }}</b>
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
               {% for error in form.picture.errors %}
                  <span class="text-danger">{{error}}</span>
               {% endfor %}
            {% endif %}
            {{ form.submit(class="btn theme-bg p-1 mt-2") }}
         </small>
     </div>
   </form>
</div>
 
 {% endblock %}