{% extends "base.html" %}
{% block body %}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 border-right border-dark" style="height:80vh">
            <div>
                <img src="../static/images/emptyprofile.jpg" class="img-fluid rounded-circle my-2">
                <p> This is my name </p>
                This is my email
                <hr>
                <a href="/bought_books">Bought Books &rArr;</a>
                <hr>
                <a href="/sold_books">Sold Books &rArr;</a>
            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}