{% extends "base.html" %}
{% block title %} Sell Books {% endblock %}
{% block body %}
<br>
    <div class="container">
      <div class="row">
        <div class="Sform col-sm-10 col-md-10 col-lg-8 m-auto">
          <h1>Book Registeration Form</h1>
          <p>Fill out the details carefully.</p>
          <form class="form-horizontal" action="/action_page.php">
            <div class="form-group-1">
              <label class="control-label col-xs-2" for="BookName"
                >Book Name:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="BookName"
                  required
                  placeholder="Enter Book Name"
                  name="Book Name"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="AuthorName"
                >Author Name:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="AuthorName"
                  required
                  placeholder="Enter Author Name"
                  name="Author Name"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label for="Publication">Publication Name:</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="Publication"
                  placeholder="Enter Publication Name"
                  name="Publication Name"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="Actual Price"
                >Actual Price:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="Actual Price"
                  placeholder="Enter Actual Price"
                  name="Actual Price"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="Proposed Price"
                >Proposed Price:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="Proposed Price"
                  required
                  placeholder="Enter Proposed Price"
                  name="Proposed Price"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label for="">Book Image:</label>
              <input
                type="file"
                id="Book Image"
                accept="image/*"
                name="Book Image"
              />
            </div>
            <button type="submit" class="btn btn-success m-3 float-left">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

    {% endblock %}