{% extends "base.html" %}
{% block title %} Sell Books {% endblock %}
{% block body %}
<br>
    <div class="container">
      <div class="row">
        <div class="Sform col-sm-10 col-md-10 col-lg-8 m-auto">
          <h1>Book Registeration Form</h1>
          <p>Fill out the details carefully.</p>
          <form class="form-horizontal" action="/new_book" method="POST">
            <div class="form-group-1">
              <label class="control-label col-xs-2" for="BookName"
                >Book Name:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="BookName"
                  required
                  placeholder="Enter Book Name"
                  name="BookName"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="AuthorName"
                >Author Name:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="AuthorName"
                  required
                  placeholder="Enter Author Name"
                  name="AuthorName"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label for="Publication">Publication Name:</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  id="Publication"
                  placeholder="Enter Publication Name"
                  name="Publication"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for="Edition"
                >Edition:</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="Edition"
                  required
                  placeholder="Enter Year of Edition"
                  name="Edition"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label class="control-label col-xs-2" for=" Price"
                >Price:</label
              >
              <div class="col-sm-10">
                <input
                  type="number"
                  min="0"
                  max="10000"
                  class="form-control"
                  id="Price"
                  placeholder="Enter  Price"
                  name="Price"
                />
              </div>
            </div>

            <div class="form-group-1">
              <label for="">Book Image:</label>
              <input
                type="file" multiple
                id="Book Image"
                accept="image/*"
                name="Book Image"
              />
            </div>
            <p>To select multiple files, hold down the CTRL or SHIFT key while selecting.</p>
            <button type="submit" class="btn btn-success m-3 float-left">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    
    {% endblock %}