<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- CSS Personalized -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">

  <title>Signup</title>
</head>

<body>
  <header>
    <div id="header">
      <!-- Container starts -->
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg pr-1">
        <h1 class="pl-0 name col-8 col-xl-4 text-wrap name">UseMyBook</h1>
        <ul class="navbar-nav pr-5 ml-auto">
          <li class="nav-item">
            <a class="nav-link pl-3" style="font-size:large;" href="{{ url_for('admin_login') }}">Admin Login</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <br>
      {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
          {% for category,message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            <span>{{message}}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

  </header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="display-4 m-100 text-dark">
          Welcome to UseMyBook, an online store for used books.
        </p>
        <p class="display-4">
          Come be a part of our community.
        </p>
      </div>
      <div class="col-12 col-md-4 m-100 p-2 bg-dark">
        <div class="text-center font-weight-bold text-monospace h5 my-1 text-white">
          <legend>Signup</legend>
        </div>
        <div class="px-3 pt-3 text-white">
            <form  method="POST"  action="">
                {{ form.hidden_tag() }}

              <div class="form-group">
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                  {{ form.name(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                    {{ form.name(class="form-control") }}
                {% endif %}

              </div>

              <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                  {{ form.email(class="form-control") }}
                {% endif %}
              </div>

              <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                  {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
              </div>

              <div class="form-group text-center">
                {{ form.submit(class="btn category-btns1 w-100 mt-2") }}
              </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-white">
                  Already have an Account? <a class="ml-2" href="{{ url_for('login') }}">Login here</a>
                </small>
              </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>