body{
    /* background: #61045f; 
background: -webkit-linear-gradient(to right, #5F0A87,#A4508B); 
background: linear-gradient(to right,#5F0A87,#A4508B);  */
background: #9bfd82;
}

.nav-theme{
    background-color: #3c1642;
    /* background-color: #8980f5; */
}


/* form start  */

.Sform{
    margin-top: 2rem;
    background:transparent;
}

.Sform h1{
    color: black;
    font-weight: bold;
}

.Sform p{
    color: black;
    font-size: medium;
}

.form-group-1{
    padding-top: 1rem;
    font-size: large;
    font-weight: bold;
    color: black;
}

.m-100{
    margin-top:100px;
}

/* form ends  */
