body{
    background: #61045f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5F0A87,#A4508B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,#5F0A87,#A4508B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background-image: url(first.jpg);*/
}
.container-fluid{
    background-color:black;
    padding-left: 0;
    padding-right: 0;
}

nav h1{
    
    color: white;
}

.active
{
    color: blanchedalmond;
}
div p{
    color:darkgrey;
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Sform{
    margin-top: 2rem;
    background:transparent;
}

.Sform h1{
    color: black;
    font-weight: bold;
}

.Sform p{
    color: black;
    font-size: medium;
}

.form-group-1{
    padding-top: 1rem;
    font-size: large;
    font-weight: bold;
    color: black;
}

.m-100{
    margin-top:100px;
}

.tabs{
    position: relative;
    width: 300px; 
    background: #f5f5f5;
}

.tabs .tab-header{
    height: 50px;
    line-height: 50px;
}

.tabs .tab-header > div{
    width:50%;
    float: left;
    text-align: center;
    background: #ddd;
    color: #555;
    cursor: pointer;
}

.tabs .tab-header > div.active{
    background: #f5f5f5;
    color: #111;
}

.tabs .tab-content .form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    background: #f5f5f5;
    border-radius: 5px;
    outline: none;
}

.tabs .tab-content > div.active{
    display: block;
}

.tabs .tab-content > div{
    display: none ;
}
